.container {
  background-color: #f8fafb;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 6%;
}

.filter input, button {
  margin: 0;
  border-radius: 10px;
  margin-left: 2%;
}

.filter button{
  padding: 0.6rem 2rem 0.6rem 2rem;
}

.filter>.input.text{
  margin-left: 2%;
}

.patientsContainer {
  padding: 0 20px;
}

.summaryContainer, .registerContainer{
  padding-left: 25%;
}

.summaryContainer h5, .registerContainer h5 {
  margin-top: 1.5%;
  margin-left: 3%;
}

.summary, .grayHighlight{
  background-color: #fff;
  border: solid 1px #dddddd;
  border-radius: 4px;
  margin: 2%;
  padding: 15px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary button {
  width: 100%;
  padding: 10px;
}

.summary h6 {
  color: #116d76;
  font-weight: bold;
}

.patientData p {
  margin-bottom: 0;
}

.patientData span {
  color: #676d76;
  font-weight: bold;
}

.grayHighlight {
  background-color: #cccccc;
}

.medicalRecords{
  background-color: #fff;
  box-shadow: 0px 0px 10px;
}

.medicalRecords input {
  border-radius: 4px;
}

.saveRecords {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.saveRecords button {
  padding: 10px 20px;
}


/*style of sidebar*/
.leftMenu{
    width:25%;
    float:left;
    background-color: #fff;
    border-right: solid 1px #dddddd;
    position: absolute;
    height: 100%;
}
.leftMenu h3{
  text-align: center;
  margin-top: 2%;
}
.leftMenu ul{
    list-style-type:none;
    margin: 0;
}
.leftMenu li{
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.leftMenu li:hover{
  background-color: #116d762e;
}
a{
    text-decoration:none;
}
