<div class="leftMenu">
  <h3>Prontuário</h3>
  <ul>
    <li><?=$this->Html->link('Exames','#');?></li>
    <li><?=$this->Html->link('Prescrições','#');?></li>
    <li><?=$this->Html->link('Atestados','#');?></li>
  </ul>
</div>
